/* CSS for the footer */
.footer {
  background-color: #04044a;
  color: white;
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #04044a;
}

.contact-info, .social-links {
  flex: 1;
  padding: 1rem;
  background-color: #04044a;
}

.contact-info h3, .social-links h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: #04044a;
}

.contact-info p, .social-links p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color:white;
  background-color: #04044a;
}

.contact-info p:last-child, .social-links p:last-child {
  margin-bottom: 0;
  background-color: #04044a;
}

.social-links a {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
  background-color: #04044a;
}

.social-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #04044a;
  text-align: center;
  padding: 1rem 0;
}

.footer-bottom p {
  font-size: 1rem;
  color:white;
  margin: 0;
  background-color: #04044a;
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
  .contact-info, .social-links {
    flex: 1; /* Equal width on smaller screens */
    margin-bottom: 1.5rem; /* Add some space between sections */
  }

  .footer-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items on smaller screens */
  }
}
