*{
    margin: 0;
    padding: 0;
}
.container{
    padding-top:3rem;
    background-color: #f8f8f899;
}
h3{
    font-size:1.2rem;
    margin-left:7rem;
    background-color: #f8f8f899;
}
.handwritten{
    display: flex;
    flex-direction: row;
    gap:3rem;
    padding-top: 2rem;
    justify-content: center;
    text-align: center;
    background-color: #f8f8f899;
}
.handwritten h4{
    color:white;
    background-color: #04044a;
    border:1px solid  #04044a;
    padding: .5rem;
    font-size: 1rem;
    border-radius:.5rem;
}

.handwritten a{
    text-decoration: none;
    text-align: center;
    color: #04044a;
    font-size:.9rem;
}

.handwritten a:hover{
    text-decoration: underline;
}
/* Mobile and Tablet Styles */
@media (max-width: 768px) {
    .container {
        margin: 0.5rem 0;
        padding: 1rem; /* Further reduce padding for smaller screens */
    }

    h3 {
        font-size: 1.2rem;
        margin-left: 0.5rem; /* Adjust the margin for better alignment on smaller screens */
    }

    .handwritten {
        margin: 1rem 0; /* Further adjust margins for better spacing on smaller screens */
        flex-direction: column; /* Change to a column layout on smaller screens */
        align-items: center; /* Center align items in the column layout */
    }

    .handwritten h4 {
        padding: 0.3rem; /* Reduce padding for smaller screens */
    }
}