* {
  margin: 0;
  padding: 0;
  background-color: #f8f8f899;
}

.notes {
  padding: 2rem 1rem;
}

.notes p {
  padding-left: 5rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  color: #04044a;
}

.english-sec {
  padding-left: 1rem;
  margin: 0.5rem;
}

.Ncert-sec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Ncert-sec .heading {
  font-size: 1.2rem;
  padding: 1.2rem 0rem 0rem 4rem;
}

.e-book-old {
  padding-left: 8rem;
  display: flex;
  flex-direction: row;
  gap: 13rem;
}

.e-book-old ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.e-book-old .head5 {
  color: white;
  background-color: #04044a;
  border: 1px solid #04044a;
  padding: 0.8rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

li {
  margin: 0.5rem 0;
  list-style-type: none;
}

.list a {
  text-decoration: none;
  color: #04044a;
  padding-left: 6.2rem;
}

.list a:hover {
  text-decoration: underline;
}

.e-book .heading {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
.e-book-new {
  display: flex;
  flex-direction: row;
  gap: 5.2rem;
  justify-content: center;
  text-align: center;
}

.new-book .category {
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
  border: 1px solid #04044a;
  background-color: #04044a;
  border-radius: 8px;
}
.new-book a {
  color: #04044a;
  text-decoration: none;
}
.new-book a:hover {
  text-decoration: underline;
}

/* Media Query for Tablet and Smaller Screens */
@media (max-width: 768px) {
  .e-book-old {
    padding-left: 2rem;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .e-book-old ul {
    padding-left: 0;
  }

  .list a {
    padding-left: 0;
  }

  .e-book-new {
    flex-direction: column;
    gap: 2rem;
  }
}
